#imgs
*.jpg
*.png
*.jpeg

output/*
output/
*.sh
test_stuff.sh
__pycache__/*
__pycache__

# request logs used for RE and debugging
/request_logs/*

# my own transcripts and temp files
temp-transcript-*.json
transcript-*.json
transcript-*.txt
transcript-*.bak
transcript-*.html
*.json

# text file of my groups and access token, for reference
mygroups

# python
*.py[cod]
__pycache__/
env/

# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

  
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/


# Virtualenv
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json